.SettingPage {
  width: 100%;

  color: #3b564d;
}
.Setting_header {
  text-align: left;
  margin-bottom: 50px;
  padding-left: 3%;
}

.Setting_header h1 {
  margin-bottom: 0px;
  font-size: 48px;
}
.table_hall_type {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.btn_Add_div {
  position: relative;
  display: flex;

  .btn_Add {
    margin-top: 20px;
    position: absolute;
    display: flex;
    right: 0;
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
    button {
      background-color: #5e7249;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
    }
    .ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
      background-color: #5e7249;
      opacity: 0.9;
    }
  }
}
.shift_dish_type {
  width: 100%;
  background-color: #bdc6b5;
  display: flex;
  margin-top: 80px;
  padding-bottom: 80px;
  .shift_type,
  .dish_type {
    flex: 40%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
.TablePenaltyRate {
  width: 90%;
  margin: 5%;
}
