@use "../../scss/" as *;

.label {
  text-align: left;
  height: 55px;
  color: $primary-color;
  background-color: $header-color;
  font-size: 30px;
  font-weight: 600;
  font-family: sans-serif;
  line-height: 55px;
  padding-left: 20px;
  border-radius: 4px;
}
