
.ant-modal {
    .ant-modal-content{
        .ant-modal-title {
            background-color: #D7DDD3;
            color: #3B564D;
            padding: 5px 7px;
            font-size: 24px;
        }
        
        .ant-modal-close{
            top: 27px;
            right:25px;
        }
    }
}
.ant-btn-primary {
    background: #5E7249;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35);
}
.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    background: #5E7249;
    opacity: 0.8;
}
.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: #5E7249;
    border-color: #5E7249;
}
.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-inner, .ant-checkbox:not(.ant-checkbox-disabled):hover .ant-checkbox-inner {
    border-color: #5E7249;
}
.ant-upload-wrapper.ant-upload-picture-card-wrapper .ant-upload.ant-upload-select:not(.ant-upload-disabled):hover, .ant-upload-wrapper.ant-upload-picture-circle-wrapper .ant-upload.ant-upload-select:not(.ant-upload-disabled):hover {
    border-color: #5E7249;
}
