$primary-color: #3b564d;
$secondary-color: #b9c5b1;
$third-color: #d7ddd3;

// $sidebar-color: rgba(83, 82, 237, 0.9);
$sidebar-color1: #3b564d;
$sidebar-item1: #b9c5b1;
$sidebar-color3: #758f64;
$sidebar-color4: #a1af99;
// $sidebar-color: #fcfdff;
$text-color: #fff;
$segment-color: #5e7249;
$segment-color2: #798869;

$sidebar-hover-color: rgba(25, 25, 143, 0.4);
// $sidebar-hover-color: #c8c8c9;

$sidebar-fontsize: 22px;
$content-fontsize: 20px;

$max-width: 1440px;
$sidebar-width: 25%;

$header-color: #d7ddd3;

$selected-color: #852e12;
$unselected-color: #3b564d;
